.auth {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 358px;
  margin: auto;
  padding-top: 60px;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .auth {
    width: 238px;
  }
}
