.header__logout {
  background: none;
  color: #a9a9a9;
  border: none;
  padding: 0;
}

@media screen and (max-width: 880px) {
  .header__logout {
    margin: 0 30px 0 0;
  }
}

@media screen and (max-width: 600px) {
  .header__logout {
    margin: 18px auto 0;
    height: 0px;
  }
}
